body {

    background-color: #5E0E03;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#banner {
    display: flex;
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;
    background-image: url("/images/home/bg_head2.bmp");
    background-repeat: repeat;
    background-size: cover;
    height: 120px;
    border-top: 3px solid;
    border-bottom: 3px solid;
}

#img1{
    margin-left: 70px;
}


#h2-text {
  color:white;
  width: 100px;
  height: 100px;

}

.menu {
    margin-top: -15px;

  }

.menu ul {
    margin-left: 0;
    list-style: none;
    text-align: center;

  }

.menu ul li {
    display: inline-block;
    border: 3px solid;
    margin: -4px;

  }

.menu ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    margin-right: 40px;
    margin-left: 40px;

  }

.menu ul li a:hover {
    background: #C30;
    color: #FFF;
  }

.wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 60px;
  }


#sidebar-menu {
    float: left;
    width: 20%;
    border: 3px solid black;
    display: table-cell;
}

#content {

    float: left;
    width: 50%;
    border: 3px solid black;
    background-color: #CCCCCC;

}

#sidebar-address {

    float: left;
    width: 20%;
    border: 3px solid black;
    background-color: white;


}

.mission {
    margin: 0 15px;
    font-weight: bold;
    text-align: justify;
}

#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 3px solid black;
}

.container img {
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

 .centered {
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    font-size: 20px;
    color: blue;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
  }
