@import url(//db.onlinewebfonts.com/c/4053837519f2a20cd733848fc1f9aa03?family=Lucida+Calligraphy);

body {
  margin: 0;
  padding: 0;
  background-color: #ffcc99;
  text-align: center;
}

.product-name {
  color: red;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Lucida Calligraphy";
}

.price,
.quantity {
  font-style: italic;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

#username {
  width: 40px;
}

.button-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-size: cover;
}
