body {
    background-color:#ffcc99;
   text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 3px outset;
}

th, td {
    border: 2px inset;
}
td {
    max-height: 200px;
    max-width: 200px;
}

img {
    display: block;
    width: 100%;
    height: inherit;
}